body{background-color: #443022;
    margin-bottom: 150vw;
    font-family: 'Dancing Script', cursive;
    color: white;
}
    #i{
        font-size: 100px;
        text-align: center;
        position: absolute;
        top: 125px;
        left: 750px; 
    }
   .background{
background-image: url(/public/img/img2.jpg);
background-repeat: no-repeat;
background-position:cover ;
background-position: top;
padding: auto;
width: 100vw;
height: 25vw;
}
.header{
    font-size: 5vw;
    text-align: center;
}
.light{
    color:	RGB(109, 76, 63) ;
padding: 50px;
    border: 50px solid whitesmoke;}
.small-text{
    font-size: 2vw;
}

